.div_classe1{
        
    background-color: #ff9900 ; 
    width: 500px ; 
    height: 500px ;
}

.div_classe2{

    background-color:#00ff44 ; 
    width: 250px ; 
    height: 250px ;
}

.paragrafo{

    background-color:red ;
    font-size: 25px ;
    font-family:monospace ;
    color:white ;
    font-weight: bold ;
}

.div_classe4{   

width: 50vw ;
height: 50vh ;
background-color: rgb(3, 134, 241) ;
}

.div_classe5{

    width: 75vw ;
    height: 25vh ;
    background-color: rgb(255, 0, 0) ;

}
